@tailwind base;
@tailwind components;
@tailwind utilities;
#LineA,
#LineB {
  transition: all 0.5s ease;
}
#menu {
  transition: all 0.5s ease;
  z-index: -1;
}
.LineA {
  transform: translate(20px, -14px) rotate(45deg);
}
.LineB {
  transform: translate(-50px, 48px) rotate(-45deg);
}
.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}
.fade-in-long {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
.fade-out {
  opacity: 1;
  animation: fade-out 0.5s ease-in-out forwards;
}
.page-fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #fdba74;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes shadowfadein {
  from {
    -webkit-box-shadow: 0px 0 25px 5px transparent;
    box-shadow: 0px 0 25px 5px transparent;
  }
  to {
    -webkit-box-shadow: 0px 0 25px 5px #fb923c;
    box-shadow: 0px 0 25px 5px #fb923c;
  }
}
.text-shadow {
  text-shadow: 1px 1px 0.5px black;
}
.navShadow {
  -webkit-box-shadow: 0px 0 25px 5px transparent;
  box-shadow: 0px 0 25px 5px transparent;
  animation: shadowfadein 1.5s forwards; /* Start the animation */
}
.topShadow {
  -webkit-box-shadow: 10px 5px 20px 5px #fb923c;
  box-shadow: 10px 5px 20px 5px #fb923c;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.75em 0 0;
}
ul.icons li a {
  border-radius: 9999999px;
  box-shadow: inset 0 0 0 1px #e2e2e2;
  display: flex;
  height: 3rem;
  line-height: 2.25rem;
  text-align: center;
  width: 3rem;
  filter: brightness(80%);
}

ul.icons li a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

ul.icons li a:active {
  background-color: rgba(255, 255, 255, 0.175);
}
.input-group {
  position: relative;
  margin-top: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
}

.bar {
  position: relative;
  display: block;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fb923c;
  transition: width 0.3s ease-out;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fb923c;
}

label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

.textarea-group {
  position: relative;
  margin-top: 45px;
}

textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fb923c;
}

.rule-around {
  display: flex;
  align-items: center;
}

.rule-around:before,
.rule-around:after {
  content: "";
  flex: 1;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}
.scroll-x-disabled {
  overflow-x: hidden;
}
